<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/testdb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping resource="data/CaseIssues.hbm.xml" />
        <mapping resource="data/DangerTypes.hbm.xml" />
        <mapping resource="data/StatusTypes.hbm.xml" />
        <mapping resource="data/AddressesHistories.hbm.xml" />
        <mapping resource="data/IndividualCasesHistories.hbm.xml" />
        <mapping resource="data/EventPerson.hbm.xml" />
        <mapping resource="data/PlanDevelopersHistories.hbm.xml" />
        <mapping resource="data/PlansHistories.hbm.xml" />
        <mapping resource="data/Roles.hbm.xml" />
        <mapping resource="data/UserRoles.hbm.xml" />
        <mapping resource="data/CriteriaControlValues.hbm.xml" />
        <mapping resource="data/Contacts.hbm.xml" />
        <mapping resource="data/TitleTypes.hbm.xml" />
        <mapping resource="data/Events.hbm.xml" />
        <mapping resource="data/GoalTypes.hbm.xml" />
        <mapping resource="data/GenderTypes.hbm.xml" />
        <mapping resource="data/Risks.hbm.xml" />
        <mapping resource="data/CommunicationTypes.hbm.xml" />
        <mapping resource="data/EnquiryIssuesHistories.hbm.xml" />
        <mapping resource="data/IacaseEnquiryMappings.hbm.xml" />
        <mapping resource="data/PlanGoals.hbm.xml" />
        <mapping resource="data/EnquiriesHistories.hbm.xml" />
        <mapping resource="data/CriteriaControls.hbm.xml" />
        <mapping resource="data/EmploymentTypes.hbm.xml" />
        <mapping resource="data/AccommodationTypes.hbm.xml" />
        <mapping resource="data/Addresses.hbm.xml" />
        <mapping resource="data/RisksHistories.hbm.xml" />
        <mapping resource="data/ClientDisabilitiesHistories.hbm.xml" />
        <mapping resource="data/IssueTypes.hbm.xml" />
        <mapping resource="data/Enquiries.hbm.xml" />
        <mapping resource="data/EnquiryIssues.hbm.xml" />
        <mapping resource="data/ClientDisabilities.hbm.xml" />
        <mapping resource="data/DisabilityTypes.hbm.xml" />
        <mapping resource="data/ReviewFrequencies.hbm.xml" />
        <mapping resource="data/PlanGoalsHistories.hbm.xml" />
        <mapping resource="data/Reminders.hbm.xml" />
        <mapping resource="data/Calendars.hbm.xml" />
        <mapping resource="data/DocumentLinks.hbm.xml" />
        <mapping resource="data/PriorityTypes.hbm.xml" />
        <mapping resource="data/People.hbm.xml" />
        <mapping resource="data/Users.hbm.xml" />
        <mapping resource="data/ContactTypes.hbm.xml" />
        <mapping resource="data/IndividualCaseCommunications.hbm.xml" />
        <mapping resource="data/Messages.hbm.xml" />
        <mapping resource="data/EnquiryTypes.hbm.xml" />
        <mapping resource="data/Plans.hbm.xml" />
        <mapping resource="data/ContactsHistories.hbm.xml" />
        <mapping resource="data/IndividualCases.hbm.xml" />
        <mapping resource="data/PlanDevelopers.hbm.xml" />
        <mapping resource="data/CulturalBackgroundTypes.hbm.xml" />
        <mapping resource="data/IaCommunicationsHistories.hbm.xml" />
        <mapping resource="data/CaseIssuesHistories.hbm.xml" />
    </session-factory>
</hibernate-configuration>
